.card {
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    gap: 30px;
    color: var(--darkBlue);
    max-width: 400px;
}

.darkCard {
    background-color: var(--brightBlue);
    color: var(--white);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;

}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.price {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
    text-align: center;
}

.darkDescription {
    color: var(--white)
}


.priceWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
}

.dollar {
    vertical-align: top;
    height: 100%;
}

.featuresWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

.fade {
    color: var(--darkGrey);
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 100px;
    border-width: 2px;
    border-color: var(--darkGrey);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--darkBlue);
}

.darkButton {
    background-color: var(--turquoise);
    border-color: var(--turquoise);
    color: var(--white);
}

.featureWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%
}

.icon path {
    fill: var(--white);
}