.title {
    font-weight: 700;
    font-size: 56px;
    color: var(--white);
    line-height: 70px;
    letter-spacing: -1px;

}

.subtitle {
    font-weight: 500;
    font-size: 22px;
    color: var(--white);
    line-height: 32px;
    max-width: 360px;
}

.button {
    width: 157px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--pink);
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    line-height: 26px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 427px;
    gap: 45px
}

@media (max-width: 1200px) {
    .wrapper {
        align-items: center;
    }
    .subtitle {
        text-align: center;
    }
    .title {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .wrapper {
        align-items: center;
    }
    .subtitle {
        text-align: center;
    }
    .title {
        font-size: 36px;
        line-height: 48px;
    }
}
