.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.button {
    width: 330px;
    background-color: rgba(72, 43, 231, 1);
    color: var(--white);
}

.button:disabled {
    opacity: 0.3;
}
