.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    color: red;
    font-size: 12px;
}

.checkboxWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--white);
    border-color: var(--darkGrey);
    border-width: 2px;
}

.checkbox:checked  {
    background-color: var(--turquoise);
    border-width: 0;
    z-index: 0;
}

.icon {
    position: absolute;
    pointer-events: none;
    color:  var(--darkBlue);
    width: 14px;
    stroke-width: 3;
}

.label {
    color: var(--gray);
}

