.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9vh 10vw;
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .wrapper {
        padding: 8vh 5vw;
    }
}