.card {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em 3.75em;
    gap: 30px;
    color: var(--darkBlue);
    max-width: 400px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .card {
        padding: 2.5em 3.25em;
    }
}

.darkCard {
    background-color: var(--brightBlue);
    color: var(--white);
    border-color:  var(--brightBlue);
}