.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.button {
    width: 330px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(72, 43, 231, 1);
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}