.button {
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: var(--pink);
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    line-height: 26px;
}

.heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.29px;
    color: var(--white);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 100%;
}

@media (max-width: 480px) {
    .wrapper {
        display: none;
    }
    .heading {
        margin: 30px;
    }
    .button {
        margin: 30px;
    }
    .menu {
        color: var(--white);
        font-size: 24px;
        cursor: pointer;
        position: fixed;
        top: 30px;
        left: 30px;
    }
    .menuWrapper {
        width: 100vw;
        height: 100px;
        position: fixed;
        top: 0;
        z-index: 50;
        background-color: var(--brightBlue);
    }
}



.itemsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.phoneWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--darkBlue);

}

.phoneMenuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.closeIcon {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
}
