.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dollar {
    vertical-align: top;
    height: 100%;
}

.price {
    letter-spacing: -1px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
